@model IEnumerable<TechStoreMVC.Views.Data.Models.Product>

@{
    ViewData["Title"] = "Начало";
    Layout = "_Layout";

    var shuffledProducts = Model.OrderBy(p => Guid.NewGuid()).ToList();
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
}

<main class="container py-4">
    <h1 class="mb-4">Актуални предложения</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        @foreach (var product in shuffledProducts)
        {
            <div class="col">
                @await Html.PartialAsync("_ProductCard", product)
            </div>
        }
    </div>
</main>
